.is-done {
    text-decoration: white line-through;
}

/*.delete {*/
/*    position: absolute;*/
/*    top: -12px;*/
/*    right: -8px;*/
/*    background: transparent;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*    font-size: 1rem;*/
/*    font-weight: bold;*/
/*}*/

.todo {
    padding: 0.2rem 0.5rem;
    background-color: white;
    border-radius: 0.25rem;
    position: relative;
    margin: 0.4rem;
}